@mixin font {
    font-family: 'Roboto', sans-serif !important;
    font-weight: normal;
}

@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

body {
    button {
        @include font;
    }

    @include font;

    font-size: 100%;
    color: #fff;
    line-height: 1.0em;
    background-color: #f0f0f0 !important;
    
    #root {
        @include flexbox();
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    
    .container {
        @include flexbox();
        flex-direction: column;
        height: 500px;
        width: 300px;
        background-color: #303030;
        border-radius: 15px;
        padding: 35px 15px;
        .result-container {
            @include flexbox();
            flex-direction: column-reverse;
            padding: 10px 5px;
            height: 180px;
            border-bottom: 1px solid #888888;
            text-align: right;
            margin: 0 15px;
            overflow-x: hidden;
            .operation-list {
                color: #888888;
                font-size: 15px;
                order: 2;
                padding-right: 5px;
                word-wrap: break-word;
            }
            .result {
                font-size: 65px;
                line-height: 1.2em;
                order: 1;
                word-wrap: break-word;
            }
        }
        .button-container {
            @include flexbox();
            padding: 15px 0;

            .button {
                background-color: #303030;
                border: none;
                height: 60px;
                width: 75px;
                color: #888888;
                font-size: 15px;
                &:focus {
                    border: none;
                    outline: none;
                }
            }
        .number-container {
            flex-basis: 75%;
        }
        .operation-container {
            flex-basis: 22%;
            flex-direction: column;
            text-align: right;
            .button {
                color: #FF6364;
            }
            .equals {
                color: #fff;
                background-color: #FF6364;
                border-radius: 25px;
                width: 50px;
                height: 50px;
                margin: 7px 12px 0 7px;
            }
        }
    }
    }
}

