@mixin font() {
    font-family: 'Roboto', sans-serif !important;
    font-weight: normal;
}

@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

$colour-background: #f0f0f0;
$colour-primary: #303030;
$white: #ffffff;
$colour-border: #888888;
$colour-secondary: #FF6364;
$font-result: 65px;
$font-size: 15px;